<h1>Edit creature #<%= params[:id] %></h1>
<p><em><%= Creature.find(params[:id]).inspect %></em></p>
<form action="/edit/<%= params[:id] %>" method="post">
    <input type="text" name="creature[name]" placeholder="name"><br>
    <textarea name="creature[description]" placeholder="description"></textarea><br>
    	<%= token_tag form_authenticity_token %>
    <button style="border:1px solid black;background-color:white;">edit</button>
</form>