<form action="/creatures" method="post">
    Creature Name: <input type="text" name="creature[name]"><br>
    Describe this specimen: <textarea name="creature[description]"></textarea>
    <%= token_tag form_authenticity_token %>
    
    <button> Save Creature </button>

</form>